.about-container {
  width: 85%;
  margin: 2rem auto;
}

.about-inner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-left-container,
.about-right-container {
  width: 50%;
}

.about-title,
.about-content-title {
  font-size: 2rem;
  position: relative;
  color: #ff715b;
}

.about-title::after,
.about-content-title::after {
  content: '';
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 50px;
  height: 2px;
  border-radius: 30px;
  display: block;
  background: linear-gradient(90deg, #ff715b, transparent);
}

.about-description,
.about-content-description {
  color: #212121;
  line-height: 2;
  margin-top: 1rem;
  width: 70%;
}

.about-right-container img {
  width: 100%;
  object-fit: cover;
}

.about-content {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.about-content-left,
.about-content-right {
  width: 50%;
}

.about-inner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-content-item {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
}

.about-content-item svg {
  margin-right: 0.5rem;
}

.progress-bar-container {
  margin: 1rem 0;
  color: #212121;
}

.progress-bar-title {
  margin: 0.5rem 0;
}

.progress-bar {
  background-color: #fff5f5;
  width: 75%;
  height: 0.5rem;
  border-radius: 0.25rem;
}

.progress-bar div {
  height: 0.5rem;
  border-radius: 0.25rem;
  width: 0%;
}

.progress-bar div span {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  float: right;
  margin-top: -0.75rem;
  margin-right: -1.95rem;
  color: #212121;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

.best-serevices-progress-bar,
.tour-agents-progress-bar {
  background-color: #ff715b;
}

.best-serevices-progress-bar {
  animation: best-services 3s linear forwards;
}

.tour-agents-progress-bar {
  animation: tour-agents 3s linear forwards;
}

.about-content-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-us-people {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.person-item {
  width: 33%;
  margin-top: 1rem;
}

.person-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.person-name {
  color: #212121;
  position: relative;
}

.person-name::after {
  content: '';
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 50px;
  height: 2px;
  border-radius: 30px;
  display: block;
  background: linear-gradient(90deg, #212121, transparent);
}

.person-title {
  margin-top: 1rem;
}

@keyframes best-services {
  100% {
    width: 82%;
  }
}

@keyframes tour-agents {
  100% {
    width: 63%;
  }
}

@media (max-width: 920px) {
  .about-container {
    flex-direction: column;
    width: 90%;
  }

  .about-inner-container,
  .about-content {
    flex-direction: column;
  }

  .about-left-container,
  .about-right-container {
    width: 100%;
  }

  .about-title,
  .about-content-title {
    font-size: 1.25rem;
  }

  .about-description,
  .about-content-description,
  .about-content-item {
    width: 100%;
    font-size: 0.75rem;
  }

  .about-right-container img {
    width: 100%;
    object-fit: cover;
    margin-top: 1rem;
  }

  .about-us-people {
    flex-direction: column;
  }

  .person-item {
    width: 100%;
  }

  .person-name {
    font-size: 0.75rem;
  }

  .person-title {
    font-size: 0.75rem;
  }

  .about-content {
    margin: 1rem 0;
  }

  .about-content-left,
  .about-content-right {
    width: 100%;
  }

  .progress-bar {
    width: 100%;
  }

  .progress-bar-title {
    font-size: 0.75rem;
  }
}
