.cta-container {
  width: 85%;
  margin: 2rem auto;
  display: flex;
}

.cta-left-container,
.cta-right-container {
  width: 50%;
}

@media (max-width: 920px) {
  .cta-container {
    flex-direction: column;
    width: 100%;
  }

  .cta-left-container,
  .cta-right-container {
    width: 90%;
    margin: 0.5rem auto;
  }
}
